<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [100]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [101]:
# Carga el dataset de trabajo
df_merged = pd.read_csv("C:/Users/claud/GIT/laboratorio-pandas_filtrado/datos/netflix_originals_merged.csv", index_col=0)
 
df_merged.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,es_original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,True
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,False
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN,NaN,NaN,NaN,False
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN,NaN,NaN,NaN,False
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,NaN,NaN,NaN,NaN,False

In [102]:
# Carga el dataset de trabajo
type(df_merged)

pandas.core.frame.DataFrame

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [103]:
# Filtrar los títulos lanzados en 2021 y que son del tipo 'Movie'
movies_2021 = df_merged[(df_merged["release_year"] == 2021) & (df_merged["type"] == "Movie")]["title"]

# Convertir a lista para mostrar los títulos
movies_2021_list = movies_2021.tolist()
movies_2021_list

['My Little Pony: A New Generation',
 'The Starling',
 'Je Suis Karl',
 'Confessions of an Invisible Girl',
 'Intrusion',
 'Go! Go! Cory Carson: Chrissy Takes the Wheel',
 'Ankahi Kahaniya',
 'The Father Who Moves Mountains',
 'The Stronghold',
 'My Heroes Were Cowboys',
 'Nightbooks',
 'Schumacher',
 'A StoryBots Space Adventure',
 'You vs. Wild: Out Cold',
 'Little Singham - Black Shadow',
 'Tughlaq Durbar (Telugu)',
 'Firedrake the Silver Dragon',
 'Kate',
 'Prey',
 'Blood Brothers: Malcolm X & Muhammad Ali',
 'The Women and the Murderer',
 'JJ+E',
 'Untold: Breaking Point',
 'Worth',
 'Afterlife of the Party',
 'Final Account',
 'Barbie Big City Big Dreams',
 'Untold: Crime & Penalties',
 'Thimmarusu',
 "He's All That",
 'SAS: Rise of the Black Swan',
 'Bob Ross: Happy Accidents, Betrayal & Greed',
 'The River Runner',
 'The Water Man',
 'Count Me In',
 'Untold: Caitlyn Jenner',
 'Boomika',
 'Boomika (Hindi)',
 'Boomika (Malayalam)',
 'Boomika (Telugu)',
 'The Witcher: Nightmare of the Wolf',
 'Man in Love',
 'Sweet Girl',
 'The Loud House Movie',
 'Black Island',
 'Memories of a Murderer: The Nilsen Tapes',
 'The Secret Diary of an Exchange Student',
 'Untold: Deal With the Devil',
 'Beckett',
 "Lokillo: Nothing's the Same",
 'Monster Hunter: Legends of the Guild',
 'Misha and the Wolves',
 'The Kissing Booth 3',
 'Untold: Malice at the Palace',
 'Slay',
 'The Paper Tigers',
 'The Swarm',
 'Vivo',
 'Lady Boss: The Jackie Collins Story',
 'Aftermath',
 'Pray Away',
 'Shiny_Flakes: The Teenage Drug Lord',
 "I missed you: Director's Cut",
 'The Vault',
 'Rurouni Kenshin: The Beginning',
 'The Last Mercenary',
 'Resort to Love',
 'Bartkowiak',
 'Hostage House',
 'Mimi',
 'A Second Chance:  Rivals!',
 'African America',
 'Bankrolled',
 'Blood Red Sky',
 'Kingdom: Ashin of the North',
 'The Last Letter From Your Lover',
 '9to5: The Story of a Movement',
 'Cousins',
 'Words Bubble Up Like Soda Pop',
 'Trollhunters: Rise of the Titans',
 'The Tambour of Retribution',
 'Cosmic Sin',
 'Deep',
 'Fear Street Part 3: 1666',
 'A Perfect Fit',
 'Emicida: AmarElo - Live in São Paulo',
 'Lift Like a Girl',
 'My Amanda',
 'A Classic Horror Story',
 'Gunpowder Milkshake',
 'Private Network: Who Killed Manuel Buendía?',
 'The Guide to the Perfect Family',
 'Bridgerton - The Afterparty',
 'Day of Destiny',
 'Fear Street Part 2: 1978',
 'How I Became a Superhero',
 'Last Summer',
 'Lee Su-geun: The Sense Coach',
 'Lethal Love',
 'Major Grom: Plague Doctor',
 'This Little Love Of Mine',
 'Fear Street Part 1: 1994',
 'Haseen Dillruba',
 'The 8th Night',
 'Audible',
 'Dynasty Warriors',
 'Mobile Suit Gundam Hathaway',
 'America: The Motion Picture',
 'Mommy Issues',
 'Prime Time',
 'The Ice Road',
 'Sisters on Track',
 'The Seventh Day',
 'Good on Paper',
 'Murder by the Coast',
 'The House of Flowers: The Movie',
 'A Family',
 'Fatherhood',
 'Jagame Thandhiram',
 'Rurouni Kenshin: The Final',
 'Ali & Ratu Ratu Queens',
 'Security',
 'Headspace: Unwind Your Mind',
 'The Reason I Jump',
 'The Devil Below',
 'Bling Empire - The Afterparty',
 'Cobra Kai - The Afterparty',
 'To All the Boys: Always and Forever - The Afterparty',
 'Sarbath',
 'Skater Girl',
 'Trese After Dark',
 'Wish Dragon',
 'Camellia Sisters',
 'Awake',
 'Tragic Jungle',
 'Kitty Love: An Homage to Cats',
 'Breaking Boundaries: The Science Of Our Planet',
 'Sweet & Sour',
 "Trippin' with the Kandasamys",
 'Xtreme',
 'Alan Saldaña: Locked Up',
 'Dancing Queens',
 'Myriam Fares: The Journey',
 'Black Holes | The Edge of All We Know',
 'Carnaval',
 'Super Monsters: Once Upon a Rhyme',
 'Bo Burnham: Inside',
 'One Lagos Night',
 'Dog Gone Trouble',
 'Blue Miracle',
 'Ghost Lab',
 'Soy Rada: Serendipity',
 'Baggio: The Divine Ponytail',
 'Gatao - The Last Stray',
 'Nail Bomber: Manhunt',
 '99 Songs',
 '99 Songs (Tamil)',
 '99 Songs (Telugu)',
 'Army of the Dead',
 'Creating an Army of the Dead',
 'Little Singham Future mein Satakli',
 'Amy Tan: Unintended Memoir',
 'Sardar Ka Grandson',
 'Ahaan',
 'Cinema Bandi',
 'Ferry',
 'I Am All Girls',
 'Jungle Beat: The Movie',
 'The Upshaws - The Afterparty',
 'The Woman in the Window',
 'Dance of the Forty One',
 'Oxygen',
 'Nayattu',
 'Super Me',
 'Milestone',
 'Monster',
 'The Circle - The Afterparty',
 'The Disciple',
 'The Mitchells vs. The Machines',
 'Things Heard & Seen',
 'Get the Grift',
 'Shadow and Bone - The Afterparty',
 'Heroes: Silence and Rock & Roll',
 'HOMUNCULUS',
 'Searching For Sheela',
 'Stowaway',
 'Tell Me When',
 'Ajeeb Daastaans',
 'Arlo the Alligator Boy',
 'Barbie & Chelsea: The Lost Birthday',
 'Dad Stop Embarrassing Me - The Afterparty',
 'Tuesdays & Fridays',
 'Ride or Die',
 'The Soul',
 'Why Did You Kill Me?',
 'New Gods: Nezha Reborn',
 'Night in Paradise',
 'Roohi',
 'Thunder Force',
 'Two Distant Strangers',
 'Dolly Parton: A MusiCares Tribute',
 'The Last Kids on Earth: Happy Apocalypse to You',
 'Mandela',
 'Concrete Cowboy',
 'Irul',
 'Just Say Yes',
 'Madame Claude',
 'Tersanjung the Movie',
 '7 Yards: The Chris Norton Story',
 'Octonauts & the Ring of Fire',
 'Marked',
 'A Week Away',
 'Bad Trip',
 'Pagglait',
 'Caught by a Wave',
 'Secret Magic Control Agency',
 'Seaspiracy',
 'Loyiso Gola: Unlearning',
 'The Yin Yang Master',
 'Deadly Illusions',
 'Get the Goat',
 'Nate Bargatze: The Greatest Average American',
 'Operation Varsity Blues:\xa0The\xa0College\xa0Admissions\xa0Scandal',
 'RebellComedy: Straight Outta the Zoo',
 'C/O Kaadhal',
 'Paper Lives',
 'YES DAY',
 'Coven of Sisters',
 'Bombay Rose',
 'Aelay',
 'Dogwashers',
 'Sentinelle',
 'Moxie',
 'Biggie: I Got a Story to Tell',
 'Blanche Gardin: The All-Nighter',
 'Connected',
 'Bigfoot Family',
 'Crazy About Her',
 'Ginny & Georgia - The Afterparty',
 'The Girl on the Train',
 'Geez & Ann',
 'Brian Regan: On the Rocks',
 'Pelé',
 'Red',
 'Fate: The Winx Saga - The Afterparty',
 'I Care a Lot',
 'Animals on the Loose: A You vs. Wild Movie',
 'Namaste Wahala',
 'Hate by Dani Rovira',
 'To All The Boys: Always And Forever',
 "Xico's Journey",
 'Red Dot',
 'Squared Love',
 'The Misadventures of Hedi and Cokeman',
 'Malcolm & Marie',
 'Space Sweepers',
 'Strip Down, Rise Up',
 'The Yin-Yang Master: Dream Of Eternity',
 'Below Zero',
 'Finding ‘Ohana',
 'The Dig',
 'June & Kopi',
 'Accomplice',
 'Penguin Bloom',
 'The White Tiger',
 'Outside the Wire',
 'Tribhanga - Tedhi Medhi Crazy',
 'What Would Sophia Loren Do?',
 'Wish You',
 'Chris Rock Total Blackout: The Tamborine Extended Cut',
 'Crack: Cocaine, Corruption & Conspiracy',
 'Charming',
 "Creating The Queen's Gambit",
 'Stuck Apart',
 'Ratones Paranoicos: The Band that Rocked Argentina',
 'The Minimalists: Less Is Now',
 'What Happened to Mr. Cha?']

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [104]:
df_pelis_90_min = df_merged.query("Runtime == 90").filter(items= ["title", "Runtime"])
df_pelis_90_min.head()

                       title  Runtime
0       Dick Johnson Is Dead     90.0
1372             June & Kopi     90.0
1558            Giving Voice     90.0
1777             Kaali Khuhi     90.0
2215  The Larva Island Movie     90.0

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [105]:
# Filtrar los títulos del país 'India' lanzados después de 2018
df_titulos_india_post_2018 = df_merged[(df_merged["country"] == "India") & (df_merged["release_year"] > 2018)]

# Seleccionar solo las columnas 'title' y 'release_year'
df_titulos_india_post_2018 = df_titulos_india_post_2018[["title", "release_year"]]

# Mostrar los resultados
df_titulos_india_post_2018

                            title  release_year
4                    Kota Factory          2021
39                   Chhota Bheem          2021
126                       Shikara          2020
190                    Thimmarusu          2021
266          The Creative Indians          2020
...                           ...           ...
5966                       15-Aug          2019
6024                    7 (Seven)          2019
6464  Chhota Bheem Kungfu Dhamaka          2019
8121                  Super Bheem          2019
8173                    Thackeray          2019

[193 rows x 2 columns]

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [106]:
df_titles_tv14_r = df_merged[df_merged["rating"].isin(["TV-14", "R"])][["title", "rating"]]
df_titles_tv14_r

                                                title rating
8                       The Great British Baking Show  TV-14
18                                          Intrusion  TV-14
20    Monsters Inside: The 24 Faces of Billy Milligan  TV-14
21                             Resurrection: Ertugrul  TV-14
24                                              Jeans  TV-14
...                                               ...    ...
8794                                           اشتباك  TV-14
8799                                            Zenda  TV-14
8802                                           Zodiac      R
8804                                       Zombieland      R
8806                                           Zubaan  TV-14

[2959 rows x 2 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [107]:
# Filtrar los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'
df_titles_by_nolan_scorsese = df_merged[df_merged["director"].isin(["Christopher Nolan", "Martin Scorsese"])][["title", "director"]]

# Contar cuántos títulos ha dirigido cada director
df_directors_count = df_titles_by_nolan_scorsese["director"].value_counts()

# Mostrar resultados
df_titles_by_nolan_scorsese, df_directors_count

(                                                  title           director
 340                                           Inception  Christopher Nolan
 1358                                     Shutter Island    Martin Scorsese
 2632                       No Direction Home: Bob Dylan    Martin Scorsese
 2860                                               Hugo    Martin Scorsese
 3227                                       The Irishman    Martin Scorsese
 3759  Rolling Thunder Revue: A Bob Dylan Story by Ma...    Martin Scorsese
 6111                    Alice Doesn't Live Here Anymore    Martin Scorsese
 6826                                  Gangs of New York    Martin Scorsese
 6880                                         GoodFellas    Martin Scorsese
 7431                                       Mean Streets    Martin Scorsese
 7820                                        Raging Bull    Martin Scorsese
 8272                                       The Departed    Martin Scorsese
 8735                    Who's That Knocking at My Door?    Martin Scorsese,
 director
 Martin Scorsese      12
 Christopher Nolan     1
 Name: count, dtype: int64)

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [108]:
# Primer código: Filtrar títulos que pertenecen a los países seleccionados
titles_from_selected_countries = df_merged[df_merged["country"].isin(["United States", "United Kingdom", "Canada"])]
# Mostrar un resumen de los títulos filtrados
titles_from_selected_countries.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,es_original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,True
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,NaN,NaN,NaN,NaN,NaN,False
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,NaN,NaN,NaN,NaN,NaN,False
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,2021-09-22,2021,TV-MA,NaN,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...,NaN,NaN,NaN,NaN,NaN,False
27,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,2021-09-20,2010,PG-13,NaN,Comedies,Mourning the loss of their beloved junior high...,NaN,NaN,NaN,NaN,NaN,False

In [109]:
# Asegurarse de que la columna 'Language' sea numérica
titles_from_selected_countries["Language"] = pd.to_numeric(titles_from_selected_countries["Language"], errors='coerce')

# Filtrar títulos con más de un idioma
movies_with_multiple_languages = titles_from_selected_countries[titles_from_selected_countries["Language"] > 1]

# Contar películas con más de un lenguaje por país
movies_with_multiple_languages_count = movies_with_multiple_languages["country"].value_counts()

# Mostrar resultados
movies_with_multiple_languages, movies_with_multiple_languages_count

(Empty DataFrame
 Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Genre, Premiere, Runtime, IMDB Score, Language, es_original]
 Index: [],
 Series([], Name: count, dtype: int64))

No se encontraron películas con más de un idioma listado en la columna Language. Esto podría deberse a que:

- La mayoría de las películas tienen solo un idioma listado.
- Algunos valores de la columna Language podrían estar vacíos o mal formateados (valores nulos)

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [110]:
titles_between_2015_2020 = df_merged[df_merged["release_year"].between(2015, 2020, inclusive = "both" )][["title", "release_year"]]

titles_between_2015_2020.head()

                                                title  release_year
0                                Dick Johnson Is Dead          2020
16  Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
17                                    Falsa identidad          2020
21                             Resurrection: Ertugrul          2018
32                                      Sex Education          2020

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [111]:
df_filtered_titles = df_merged[df_merged["IMDB Score"].between(6.5, 8.0) & df_merged["Runtime"].isna()]

df_filtered_titles.head()

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Genre, Premiere, Runtime, IMDB Score, Language, es_original]
Index: []

No lo sabemos

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [112]:
movies_90_to_150_minutes = df_merged[df_merged["Runtime"].between(90, 150) & (df_merged["type"] == "Movie")
][["title", "Runtime"]]

movies_90_to_150_minutes.head()

                    title  Runtime
0    Dick Johnson Is Dead     90.0
141            Extraction    117.0
624            Prime Time     91.0
834          Blue Miracle     95.0
836             Ghost Lab    117.0

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [113]:
titles_with_love_tv_show = df_merged.query("type == 'TV Show' and title.str.contains('Love', case=False, na=False)",
    engine='python'
)[['title', 'type']]

titles_with_love_tv_show

                                   title     type
25                  Love on the Spectrum  TV Show
659      Bangkok Love Stories: Innocence  TV Show
731      Love (ft. Marriage and Divorce)  TV Show
883                 Love, Death & Robots  TV Show
1032                        Love Naggers  TV Show
...                                  ...      ...
7632  O-Negative, Love Can’t Be Designed  TV Show
7892                  Roonpi Secret Love  TV Show
8567      The Year of Happiness and Love  TV Show
8575                     This Is My Love  TV Show
8721                       What Is Love?  TV Show

[71 rows x 2 columns]

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [114]:
titles_with_director_johnson = df_merged[df_merged["director"].str.contains("Johnson", case=False, na=False)
][["title", "director"]]

titles_with_director_johnson

                                       title                         director
0                       Dick Johnson Is Dead                  Kirsten Johnson
829                         Dog Gone Trouble                    Kevin Johnson
846                                     Home                      Tim Johnson
2052                        Love, Guaranteed              Mark Steven Johnson
2083                    The Debt Collector 2                 Jesse V. Johnson
2455                              The Stolen                    Niall Johnson
2496                               Honeytrap                  Rebecca Johnson
3511                              Avengement                 Jesse V. Johnson
3717                           Triple Threat  Jesse V. Johnson, Jesse Johnson
4033                                 Juanita                    Clark Johnson
4661                      The Debt Collector                 Jesse V. Johnson
4698       To All the Boys I’ve Loved Before                    Susan Johnson
4833                        Alex Strangelove                    Craig Johnson
5282                            Carrie Pilby                    Susan Johnson
5536                               Frat Star   Grant S. Johnson, Ippsie Jones
6376                                   Brick                     Rian Johnson
6553                                Daffedar                Johnson Esthappan
6802                           Freshman Year          Jude Okwudiafor Johnson
6847                             Ghost Rider              Mark Steven Johnson
7241                  Kung Fu Panda: Holiday                      Tim Johnson
7369                               Mad Money  Callie Khouri, Jesse V. Johnson
7622                             Nowhere Boy               Sam Taylor-Johnson
7912                                S.W.A.T.                    Clark Johnson
7946                              Savage Dog                 Jesse V. Johnson
8082  Star Wars: Episode VIII: The Last Jedi                     Rian Johnson

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [115]:
documental_mike_tyson = df_merged[
    (df_merged["listed_in"].str.contains("Documentaries", case=False, na=False)) &
    (df_merged["title"].str.contains("Mike Tyson", case=False, na=False))
][["title", "listed_in", "description"]]

documental_mike_tyson

Empty DataFrame
Columns: [title, listed_in, description]
Index: []

No hay ningún documental de Mike Tyson

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [116]:
selected_columns = df_merged[["title", "country", "release_year"]]

selected_columns.head()

                   title        country  release_year
0   Dick Johnson Is Dead  United States          2020
1          Blood & Water   South Africa          2021
2              Ganglands            NaN          2021
3  Jailbirds New Orleans            NaN          2021
4           Kota Factory          India          2021

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [117]:
columns_with_date = df_merged.filter(like="date", axis=1)

columns_with_date.head()

   date_added
0  2021-09-25
1  2021-09-24
2  2021-09-24
3  2021-09-24
4  2021-09-24

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [118]:
titles_france_80_min = df_merged.query("country == 'France' and Runtime == 80")[["title", "country", "Runtime"]]

titles_france_80_min

           title country  Runtime
1236  Sentinelle  France     80.0

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [119]:
movies_before_2010 = df_merged.query("type == 'Movie' and release_year < 2010")[["title", "type", "release_year"]]

movies_before_2010

                     title   type  release_year
7                  Sankofa  Movie          1993
22         Avvai Shanmughi  Movie          1996
24                   Jeans  Movie          1998
26          Minsara Kanavu  Movie          1997
41                    Jaws  Movie          1975
...                    ...    ...           ...
8793  Yours, Mine and Ours  Movie          2005
8799                 Zenda  Movie          2009
8802                Zodiac  Movie          2007
8804            Zombieland  Movie          2009
8805                  Zoom  Movie          2006

[1153 rows x 3 columns]

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [120]:
top_10_highest_rated = df_merged.nlargest(10, "IMDB Score")[["title", "IMDB Score"]]

top_10_highest_rated

                                            title  IMDB Score
1886     David Attenborough: A Life on Our Planet         9.0
4293                      Springsteen on Broadway         8.5
5893  Winter on Fire: Ukraine's Fight for Freedom         8.4
3386                       Dancing with the Birds         8.3
5152                       Cuba and the Cameraman         8.3
1171                                   Seaspiracy         8.2
1857        The Three Deaths of Marisela Escobedo         8.2
3273                                        Klaus         8.2
2038                           My Octopus Teacher         8.1
2097                               Rising Phoenix         8.1

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [121]:
bottom_5_lowest_rated = df_merged.nsmallest(5, "IMDB Score")[["title", "IMDB Score"]] 

bottom_5_lowest_rated

                title  IMDB Score
3623  Enter the Anime         2.5
2104      Dark Forces         2.6
3094          The App         2.6
5073   The Open House         3.2
1777      Kaali Khuhi         3.4

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [122]:
titles_without_director = df_merged[df_merged["director"].isna()][["title", "director"]]

titles_without_director

                                    title director
1                           Blood & Water      NaN
3                   Jailbirds New Orleans      NaN
4                            Kota Factory      NaN
10    Vendetta: Truth, Lies and The Mafia      NaN
14        Crime Stories: India Detectives      NaN
...                                   ...      ...
8795                      Yu-Gi-Oh! Arc-V      NaN
8796                           Yunus Emre      NaN
8797                            Zak Storm      NaN
8800                   Zindagi Gulzar Hai      NaN
8803                          Zombie Dumb      NaN

[2634 rows x 2 columns]

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [123]:
titles_with_complete_info = df_merged.dropna(subset=["title", "country", "IMDB Score"])

titles_with_complete_info

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language,es_original
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Documentary,2020-10-02,90.0,7.5,English,True
141,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada",2021-09-01,2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Action,2020-04-24,117.0,6.7,English,True
834,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,2021-05-27,2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Drama,2021-05-27,95.0,6.7,English,True
836,s837,Movie,Ghost Lab,Paween Purijitpanya,"Thanapob Leeratanakachorn, Paris Intarakomalya...",Thailand,2021-05-27,2021,TV-MA,118 min,"Horror Movies, International Movies, Thrillers","After witnessing a haunting in their hospital,...",Horror,2021-05-26,117.0,5.2,Thai,True
840,s841,Movie,Baggio: The Divine Ponytail,Letizia Lamartire,"Andrea Arcangeli, Valentina Bellè, Andrea Penn...",Italy,2021-05-26,2021,TV-MA,NaN,"Dramas, International Movies, Sports Movies","The story of Roberto Baggio, one of the best s...",Biopic,2021-05-26,92.0,6.2,Italian,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,s5902,Movie,Tig,"Kristina Goolsby, Ashley York",Tig Notaro,United States,2015-07-17,2015,TV-14,NaN,"Documentaries, Stand-Up Comedy",Comedian Tig Notaro announced her cancer diagn...,Documentary,2015-07-17,80.0,7.4,English,True
5906,s5907,Movie,"What Happened, Miss Simone?",Liz Garbus,NaN,United States,2015-06-26,2015,TV-14,NaN,"Documentaries, Music & Musicals","Using never-before-heard recordings, rare arch...",Documentary,2015-06-26,84.0,7.6,English,True
5910,s5911,Movie,Hot Girls Wanted,"Jill Bauer, Ronna Gradus",NaN,United States,2015-05-29,2015,TV-MA,83 min,Documentaries,This 2015 Sundance Film Festival breakout docu...,Documentary,2015-05-29,84.0,6.1,English,True
5912,s5913,Movie,The Other One: The Long Strange Trip of Bob Weir,Mike Fleiss,Bob Weir,United States,2015-05-22,2015,TV-14,84 min,"Documentaries, Music & Musicals",This chronicle of Bob Weir highlights his brot...,Documentary,2015-05-22,83.0,7.3,English,True
5916,s5917,Movie,My Own Man,David Sampliner,David Sampliner,United States,2015-03-06,2015,TV-MA,82 min,Documentaries,When a man discovers he will be the father to ...,Documentary,2014-12-13,81.0,6.4,English,True

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [124]:
duplicate_titles = df_merged[df_merged["title"].duplicated(keep=False)][["title"]]

duplicate_titles

Empty DataFrame
Columns: [title]
Index: []

No hay duplicados en la columna title